<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyu.train.business.mapper.TrainSeatMapper">
    <resultMap id="BaseResultMap" type="com.heyu.train.business.domain.TrainSeat">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="train_code" jdbcType="VARCHAR" property="trainCode"/>
        <result column="carriage_index" jdbcType="INTEGER" property="carriageIndex"/>
        <result column="row" jdbcType="CHAR" property="row"/>
        <result column="col" jdbcType="CHAR" property="col"/>
        <result column="seat_type" jdbcType="CHAR" property="seatType"/>
        <result column="carriage_seat_index" jdbcType="INTEGER" property="carriageSeatIndex"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , train_code, carriage_index, row, col, seat_type, carriage_seat_index, create_time,
    update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from train_seat
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteBatchs" parameterType="string">
        delete from train_seat where train_code=#{trainCode,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from train_seat
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.heyu.train.business.domain.TrainSeat">
        insert into train_seat (id, train_code, carriage_index,
                                `row`, col, seat_type, carriage_seat_index,
                                create_time, update_time)
        values (#{id,jdbcType=BIGINT}, #{trainCode,jdbcType=VARCHAR}, #{carriageIndex,jdbcType=INTEGER},
                #{row,jdbcType=CHAR}, #{col,jdbcType=CHAR}, #{seatType,jdbcType=CHAR},
                #{carriageSeatIndex,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.heyu.train.business.domain.TrainSeat">
        insert into train_seat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="trainCode != null">
                train_code,
            </if>
            <if test="carriageIndex != null">
                carriage_index,
            </if>
            <if test="row != null">
                row,
            </if>
            <if test="col != null">
                col,
            </if>
            <if test="seatType != null">
                seat_type,
            </if>
            <if test="carriageSeatIndex != null">
                carriage_seat_index,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="trainCode != null">
                #{trainCode,jdbcType=VARCHAR},
            </if>
            <if test="carriageIndex != null">
                #{carriageIndex,jdbcType=INTEGER},
            </if>
            <if test="row != null">
                #{row,jdbcType=CHAR},
            </if>
            <if test="col != null">
                #{col,jdbcType=CHAR},
            </if>
            <if test="seatType != null">
                #{seatType,jdbcType=CHAR},
            </if>
            <if test="carriageSeatIndex != null">
                #{carriageSeatIndex,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.heyu.train.business.domain.TrainSeat">
        update train_seat
        <set>
            <if test="trainCode != null">
                train_code = #{trainCode,jdbcType=VARCHAR},
            </if>
            <if test="carriageIndex != null">
                carriage_index = #{carriageIndex,jdbcType=INTEGER},
            </if>
            <if test="row != null">
                row = #{row,jdbcType=CHAR},
            </if>
            <if test="col != null">
                col = #{col,jdbcType=CHAR},
            </if>
            <if test="seatType != null">
                seat_type = #{seatType,jdbcType=CHAR},
            </if>
            <if test="carriageSeatIndex != null">
                carriage_seat_index = #{carriageSeatIndex,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.heyu.train.business.domain.TrainSeat">
        update train_seat
        set train_code          = #{trainCode,jdbcType=VARCHAR},
            carriage_index      = #{carriageIndex,jdbcType=INTEGER},
            row                 = #{row,jdbcType=CHAR},
            col                 = #{col,jdbcType=CHAR},
            seat_type           = #{seatType,jdbcType=CHAR},
            carriage_seat_index = #{carriageSeatIndex,jdbcType=INTEGER},
            create_time         = #{createTime,jdbcType=TIMESTAMP},
            update_time         = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="list" parameterType="com.heyu.train.generator.generator.help.MyBatisWrapper" resultMap="BaseResultMap">
        <include refid="listSql"/>
    </select>
    <sql id="listSql">
        select
        <if test="selectBuilder == null">
            *
        </if>
        <if test="selectBuilder != null">
            <trim prefixOverrides="," suffixOverrides=",">
                ${selectBuilder}
            </trim>
        </if>
        from train_seat
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="groupBySql != null">
            group by ${groupBySql}
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="rows != null">
            <if test="offset != null">
                limit ${offset}, ${rows}
            </if>
            <if test="offset == null">
                limit ${rows}
            </if>
        </if>
    </sql>
    <sql id="Example_Where_Clause">
        <where>
            <trim prefixOverrides="and | or">
                <foreach collection="oredCriteria" item="criteria">
                    <if test="criteria.valid">
                        <if test="criteria.andOrOr">
                            and
                        </if>
                        <if test="!criteria.andOrOr">
                            or
                        </if>
                        <trim prefix="(" prefixOverrides="and | or" suffix=")">
                            <foreach collection="criteria.criteria" item="criterion">
                                <choose>
                                    <when test="criterion.noValue">
                                        ${criterion.condition}
                                    </when>
                                    <when test="criterion.singleValue">
                                        ${criterion.condition} #{criterion.value, jdbcType=${criterion.jdbcType}}
                                    </when>
                                    <when test="criterion.betweenValue">
                                        ${criterion.condition} #{criterion.value, jdbcType=${criterion.jdbcType}} and
                                        #{criterion.secondValue, jdbcType=${criterion.jdbcType}}
                                    </when>
                                    <when test="criterion.listValue">
                                        ${criterion.condition}
                                        <foreach close=")" collection="criterion.value" item="listItem" open="("
                                                 separator=",">
                                            #{listItem, jdbcType=${criterion.jdbcType}}
                                        </foreach>
                                    </when>
                                </choose>
                            </foreach>
                        </trim>
                    </if>
                </foreach>
            </trim>
        </where>
    </sql>
    <select id="topOne" parameterType="com.heyu.train.generator.generator.help.MyBatisWrapper"
            resultMap="BaseResultMap">
        select
        <if test="selectBuilder != null">
            <trim prefixOverrides="," suffixOverrides=",">
                ${selectBuilder}
            </trim>
        </if>
        from train_seat
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        limit 1
    </select>

    <select id="count" parameterType="com.heyu.train.generator.generator.help.MyBatisWrapper"
            resultType="java.lang.Integer">
        <include refid="countSql"/>
    </select>
    <sql id="countSql">
        select count(*) total_count from train_seat
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </sql>
    <update id="updateField" parameterType="com.heyu.train.generator.generator.help.MyBatisWrapper">
        update train_seat
        set
        <trim prefixOverrides="," suffixOverrides=",">
            ${example.updateSql}
        </trim>
        <if test="example.updateSql != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <trim prefixOverrides="and | or">
                <foreach collection="example.oredCriteria" item="criteria" separator="or">
                    <if test="criteria.andOrOr">
                        and
                    </if>
                    <if test="!criteria.andOrOr">
                        or
                    </if>
                    <if test="criteria.valid">
                        <trim prefix="(" prefixOverrides="and" suffix=")">
                            <foreach collection="criteria.criteria" item="criterion">
                                <choose>
                                    <when test="criterion.noValue">
                                        ${criterion.condition}
                                    </when>
                                    <when test="criterion.singleValue">
                                        ${criterion.condition} #{criterion.value, jdbcType=${criterion.jdbcType}}
                                    </when>
                                    <when test="criterion.betweenValue">
                                        ${criterion.condition} #{criterion.value, jdbcType=${criterion.jdbcType}} and
                                        #{criterion.secondValue, jdbcType=${criterion.jdbcType}}
                                    </when>
                                    <when test="criterion.listValue">
                                        ${criterion.condition}
                                        <foreach close=")" collection="criterion.value" item="listItem" open="("
                                                 separator=",">
                                            #{listItem, jdbcType=${criterion.jdbcType}}
                                        </foreach>
                                    </when>
                                </choose>
                            </foreach>
                        </trim>
                    </if>
                </foreach>
            </trim>
        </where>
    </sql>
    <update id="updateFieldBatch" parameterType="java.util.List">
        <foreach collection="list" index="index" item="example" separator=";">
            update train_seat
            set
            <trim prefixOverrides="," suffixOverrides=",">
                ${example.updateSql}
            </trim>
            <if test="example != null">
                <include refid="Update_By_Example_Where_Clause"/>
            </if>
        </foreach>
    </update>
    <select id="get" parameterType="com.heyu.train.generator.generator.help.MyBatisWrapper" resultMap="BaseResultMap">
        select
        <if test="selectBuilder != null">
            <trim prefixOverrides="," suffixOverrides=",">
                ${selectBuilder}
            </trim>
        </if>
        from train_seat
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <update id="updateBatchSelective" parameterType="java.util.List">
        update train_seat
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.id != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.id,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
        </trim>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="train_code = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.trainCode != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.trainCode,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
        </trim>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="carriage_index = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.carriageIndex != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.carriageIndex,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
        </trim>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="row = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.row != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.row,jdbcType=CHAR}
                    </if>
                </foreach>
            </trim>
        </trim>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="col = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.col != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.col,jdbcType=CHAR}
                    </if>
                </foreach>
            </trim>
        </trim>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="seat_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.seatType != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.seatType,jdbcType=CHAR}
                    </if>
                </foreach>
            </trim>
        </trim>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="carriage_seat_index = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.carriageSeatIndex != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.carriageSeatIndex,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
        </trim>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createTime != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateTime != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>